# ---System File---
.DS_Store
Thumbs.db

# ---Embedded---
.pio/
.vscode/
build/
*.o
*.bin
*.elf
security.h

# ---Mobile---
.dart_tool/
.packages
.pub-cache/
.pub/
android/.gradle/
android/local.properties
android/app/release/
ios/.generated/
build/
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart

# ---Database---
bridge/*.json
*.log
.env
*.json
**/build/
sdkconfig